<form ng-submit="search.submitLogInfo(search.apisObj)">
	<p>Before using this app, create an ID and submit the necessary API keys to get the search engine running.</p>
	<div>
		<a target="_blank" href="https://en.wikipedia.org/wiki/Application_programming_interface_key">What is an API key?</a>
	</div>
	<div>
		<div class="row">
			<div class="col-xs-3">
				<label for="">My ID:</label>
			</div>
			<div class="col-xs-9">
				<input class="form-control" type="text" ng-model="search.apisObj.id" placeholder="John Dough">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<label for="">TASTEKiD API: </label>
			</div>
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-6">
						<input class="form-control" type="password" ng-model="search.apisObj.tastekidKey" placeholder="XXXXXX">
					</div>
					<div class="col-xs-6">
						<a target="_blank" href="https://www.tastekid.com/read/api">Get one here!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<button class="btn btn-primary" type="submit">Submit</button>
		<button class="btn btn-warning" ng-if="search.reqReset" ng-click="search.cancelReset()">Cancel</button>
	</div>
</form>


