<form ng-submit="updateModal.ok(updateModal.apisObj)">
	<div class="modal-header">
		<h2>Hello {{ updateModal.currentUserName }}.</h2>
		<p>You can update your ID and API keys here.</p>
	</div>
	<div class="modal-body">
	    <div class="row">
	    	<div class="col-xs-3">
	    		<label for="">My ID:</label>
	    	</div>
	    	<div class="col-xs-9">
	    		<input class="form-control" type="text" ng-model="updateModal.apisObj.id" placeholder="John Dough">
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-3">
	    		<label for="">TASTEKiD API: </label>
	    	</div>
	    	<div class="col-xs-9">
		    	<div class="row">
		    		<div class="col-xs-6">
		    			<input class="form-control" type="password" ng-model="updateModal.apisObj.tastekidKey" placeholder="XXXXXX">
		    		</div>
		    		<div class="col-xs-6">
		    			<a target="_blank" href="https://www.tastekid.com/read/api">Get one here!</a>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="row">
	    	<div class="col-xs-3">
	    		<label for="">Spotify API: </label>
	    	</div>
	    	<div class="col-xs-9">
		    	<div class="row">
		    		<div class="col-xs-6">
		    			<input class="form-control" type="text" ng-model="initModal.apisObj.spotKey" placeholder="XXXXXX">
		    		</div>
		    		<div class="col-xs-6">
		    			<a target="_blank" href="#">Get one here!</a>
		    		</div>
		    	</div>
	    	</div>
	    </div>
	    </div>
	</div>
	<div class="modal-footer">
	    <button autofocus class="btn btn-primary" type="submit">Submit</button>
	    <button class="btn btn-warning" type="button" ng-click="updateModal.cancel()">Cancel</button>
	</div>
</form>