<div id="directions">
	<p>Enter an artist in the searchbar, and hit "Go!" to find other similiar artists to the one searched.</p>
	<p>Click the "Add" button on any single result to automatically add it to the searchbar. You can search multiple artists at a time if you want to get a broader blend of results, or just keep it simple and search one at a time</p>
	<p>Click the "Spotify" button to access the link to the artist's Spotify page. From there, you have access to all of the Spotify features. With most artists you'll get a more in-depth biography, possibly find more related artists, and listen to their music.</p>
	<p>Enjoy!</p>
</div>