<p>Select any category ('Everything' counts as one!) and make your search. You can search more than one item at a time. If you want to search items of multiple categories at once, make sure 'Everything' is selected.</p>
<p>While 'Everything' is selected, you can give your search parameters prefixes for clarification if so desired.</p>
<p>i.e: movie:The Godfather, music:Megadeth, game:Super Mario 64, author:Hemmingway</p>
<p>Click the 'Add' button on any single result to automatically add it to the searchbar. The recommendations will multiply!</p>