body {
	background-color: #333;
	color: whitesmoke;
}

a {
	cursor: pointer;
}

.container {
	text-align: center;
	margin: 3em auto;
	border: 5px solid bisque;
	background: url("../images/amp-guitar.jpeg") no-repeat center fixed;
	background-size: cover;
	border-radius: 1em;
	font-family: "Open Sans", sans-serif;
}

#search-main p, .panel p, .btn-toggle {
	color: black;
}

#header, #content, #menu, #footer {
	margin-bottom: 2em;
}

h1, h3 {
	margin: 0.5em auto;	
}

.user-greeting {
	color: whitesmoke;
}

h1 {

	font-family: "Kaushan Script", serif;
	font-size: 5em;
	text-transform: uppercase;
	text-shadow: 2px 4px 4px grey;
}

h2, h3 {
	font-family: "Arimo", serif;
	font-weight: 600;
}

h2 {
	font-size: 2em;
}

.btn-directions {
	margin: 2em auto;
}

.row {
	margin-bottom: 2em;
}

.my-menu, #content h2 {
	text-align: center;
}

.btn-wrapper {
	text-align: center;
}

.nav-tabs>li {
	float: none;
	display: inline-block;
}

.nav-tabs>li>a {
	color: whitesmoke;
	font-weight: bold;
	transition: 250ms linear all;
}

.active,
.nav>li>a:focus {
	background-color: #5F5F5F;	
	color: white;
}

.nav>li>a:hover {
	background-color: lightgrey;
	color: black;
}

#directions {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1.5em;
	text-align: left;
}

.nav-tabs>li>.active {
	color: white;
	border: 1px solid #ddd;
}

#auto-clear-form label,
#auto-clear-form input {
	margin: 0.5em;
}

#search-term {
	max-width: 50em;
	margin: 0 auto;
}

.output {
	margin-top: 4em;
	text-align: left;
}

.spot-blurb {
	margin: 1em 0;
}

#select-cat {
	width: 8em;
}

.hidden {
	display: none;
}

.output h3 {
	text-align: center;
	font-size: 1.5em;
}

.past-searches h3,
.past-results h3 {
	display: block;
}

.sort-btns {
	text-align: right;
}

.inner-content {
	margin: 1.5em;
}

.result-name {
	font-weight: 500;
	font-size: 1.2em;
}

.result-type {
	float: right;
	font-style: italic;
}

.result-blurb {
	clear: both;
}

footer {
	margin-top: 2em;
	color: white;
	text-align: center;
}

footer a {
	color: lightblue;
	border-radius: .4em;
	padding: .2em;
}

footer a:hover {
	background-color: white;
}

/*Alerts*/

.alert-video-saved {
	display: inline-block;
	margin: 0 1em;
}

/*Modals*/

.modal-header, .modal-body {
	color: black;
}

.modal-header {
	text-align: center;
}

.modal-body .row {
	margin-bottom: 1em;
}

/*Buttons*/

.btn-add {
	margin: 1em 0;
}

@media (max-width: 513px) {
	
	h1 {
		font-size: 3em;
	}

	h3 {
		font-size: 1em;
	}

}

@media screen and (max-width: 500px){
	.container {
		background: url("../images/amp-guitar-sm.jpeg") no-repeat center fixed;		
	}
}

