<div id="search-main">
	<div>
		<div class="row">
			<div class="col-md-12">
				<form id="search-term">
					<div class="input-group">		
						<input type="text" id="query" ng-model="search.searchTerm" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default btn-search" ng-click="search.submit()">Go!</button>
						</span>
					</div>
				</form>
				<!-- <button ng-keypress="search.test($event)">Test</button> -->
				<!-- <span tabIndex="0" ng-keypress="search.test($event)">Test</span> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 output">
				<h3 ng-if="search.info">You searched for:</h3>
				<uib-accordion>
					<uib-accordion-group ng-repeat="item in search.info">
						<uib-accordion-heading ng-click="search.test($event)" ng-keypress="search.test($event)">
							<!-- <span ng-click="search.spotSearch(item.Name)" ng-keypress="search.spotSearch(item.Name, $event)">{{ item.Name }}</span> -->
							{{ item.Name }}
						</uib-accordion-heading>
						<div class="row inner-content">
							<div class="result-blurb">
								<p>{{ item.wTeaser }}</p>
								<span>
									<button class="btn btn-default btn-add" ng-click="search.appendToSeachBar(item.Name)" type="button">Add</button>
								</span>
								<div ng-if="search.isAddedToSearchBar(item.Name)" class="alert alert-success alert-video-saved" role="alert">Added to search bar!</div>
								<div class="spot-blurb" ng-if="search.link">
									<a target="_blank" href="{{ search.link }}"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify Page</a>
								</div>		
							</div>
						</div>
					</uib-accordion-group>
				</uib-accordion>
				<h3 ng-if="search.results">Results:</h3>
				<uib-accordion>
					<uib-accordion-group ng-repeat="item in search.results" is-open="item.isOpened">
					<uib-accordion-heading ng-click="search.test($event)" ng-keypress="search.test($event)">
						<!-- <button class="result-header-button" ng-click="search.spotSearch(item.Name)">{{ item.Name }}</button> -->
						{{ item.Name }}
					</uib-accordion-heading>	
						<div class="row inner-content">
							<div class="result-blurb">
								<p>{{ item.wTeaser }}</p>
								<span>
									<button class="btn btn-default btn-add"  ng-click="search.appendToSeachBar(item.Name)" type="button">Add</button>
								</span>
								<div ng-if="search.isAddedToSearchBar(item.Name)" class="alert alert-success alert-video-saved" role="alert">Added to search bar!</div>
								<div class="spot-blurb" ng-if="search.link">
									<a target="_blank" href="{{ search.link }}"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify Page</a>
								</div>	
							</div>
						</div>
					</uib-accordion-group>
				</uib-accordion>	
			</div>
		</div>
	</div>
</div>


